.whole {
  width: 80%;
  margin-left: 10%;
}

.container {
  max-width: 1740px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.middle {
  text-align: center;
  color: brown;
}

.desmor {}

.select {
  width: 300px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.card-image {
  display: inline-block;
  margin: 50px;
}

.card-image img {
  transition: .5s opacity;
}

.card-image img:hover {
  opacity: 0.6;
}

.img-fav {
  max-width: 60px;
}
