<!DOCTYPE html>
<html>
<head>
    <title>Two Photos Page</title>
    <link rel="stylesheet" href="style.css">

    <style>
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        img {
            width: 45%;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }

    </style>
</head>
<body>
<div class="container">
    <img src="http://demo129.xyz/webAsset/pictures/modren.JPG">
    <img src="http://demo129.xyz/webAsset/pictures/modren.JPG">
</div>
</body>
</html>

